
@{
    ViewBag.Title = "Demo";
}

<script src="~/Scripts/demo2.js"></script>
<script type="module" src="~/Scripts/demo.js"></script>

<h2>Demo</h2>

<h3>Current user: <span id="curUser"></span></h3>
<br />

<input type="text" id="username" />
<button id="fake">Fake password login</button>
<br />
<br />
<button id="test">Check Support</button>
<br />
<br />
<button id="register">Register Creds</button>
<br />
<button id="login">Auth with Creds</button>
<br />
<br />
<button id="logout">Log Out!</button>
<br />
<br />
<div id="messages">

</div>